
.outer-about-container {
    background-color: #121212;
    padding: 20px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.shop-about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-text-box {
    font-size: 22px;
    padding: 20px;
    background: #1C1C1E;
    border: solid 1px #2F2F33;
    box-shadow: 0 4px 6px rgba(0,0,0,.05), 0 10px 25px rgba(0,0,0,.08);
    color: white;
}

.about-heading, .since-text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(231, 196, 123);
}

.about-paragraph {
    font-size: 18px;
    line-height: 1.6;
}

.about-icons-container {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding: 40px;
}

.about-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.about-text {
    text-align: center;
    margin: 0;
    color: rgb(231, 196, 123);
    font-weight: bold;
}
