.buttons-box,
.create-button-container {
    display: flex;
    justify-content: center;
}

.buttons-box {
    column-gap: 30px;
}

.create-coupon {
    font-size: 24px;
    width: 100%;
    margin-top: 20px;
}

label{
    font-size: 20px;
}

select:hover {
    cursor: pointer;
}

