html, body {
    height: 100%; /* Full height */
    margin: 0; /* Remove default margin */
}

body {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack elements vertically */
}

.container {
    flex: 1; /* Allow the container to take up available space */
}

footer {
    background-color: rgb(0,0,0); /* Footer background */
    color: white; /* Footer text color */
    text-align: center; /* Footer text alignment */
    padding: 20px; /* Padding for the footer */
}

.footer button {
    background-color: rgb(0,191,255);
}



.app-form-input{
    border: 2px solid black;
}

.toast-success, .toast-warning{
    background-color: deepskyblue !important;
    color: white !important;
}

