header{
    background-color: rgb(25,39,52);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: Arial;
}

.header-items-container {
    width: 60%;
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 700;
}

.user-options{
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 20px;
}

.header-items-list {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    column-gap: 20px;
    color: palevioletred;
}

.header-items-list a {
    text-decoration: none;
    color: palevioletred;
    cursor: pointer;
}

.header-items-list a:hover{
    color: red;
}

.header-item:hover{
    color: red;
}

.options-menu-dropdown {
    display: inline-block;
    position: relative;
}

.options-menu-dropdown:hover{
    cursor: pointer;
}

.options-menu-dropdown p{
    margin: 0;
    color: palevioletred;
    display: inline-block;
}


.options-menu {
    border-radius: 6px;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1;
    white-space: nowrap;
}

.options-menu a{
    text-decoration: none;
    color: black;
}

.options-menu a:hover {
    color: palevioletred;
}

.options-menu-dropdown:hover .options-menu {
    display: inline-block;
}

.logout-button{
    border: none;
    background: none;
    color: palevioletred;
    font-size: 18px;
}

.logout-button:hover{
    cursor: pointer;
    color: red;
}

.shop-logo{
    width: 100px;
}

.user-profile-and-name{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.cart-icon-container{
    position: relative;
}

.cart-item-quantity {
    font-size: 16px;
    color: rgb(177,176,241);
    position: absolute;
    left: 47%;
    bottom: -5px;
}

.reward-points-container{
    position: relative;
    z-index: 5;
}

.reward-points{
    margin: 0;
}

.reward-points-exaplanation {
    width: 400px;
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(25,39,52);
    color: palevioletred;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px;
}

.reward-points-container:hover .reward-points-exaplanation {
    display: inline-block;
}

.reward-points-inner-container{
    display: flex;
    align-items: center;
    column-gap: 7px;
}
