.sidebar-filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(0,0,0);
    padding: 60px 20px;
    position: fixed;
    left: 0;
    top: 0px;
    font-family: Arial;
    overflow: auto;
    scrollbar-width: thin;
    height: 100%;
    border-right: 2px solid white;
}

    .sidebar-filter::-webkit-scrollbar {
        width: 6px;
    }

    .sidebar-filter::-webkit-scrollbar-thumb {
        background-color: rgb(219, 112, 147);
    }

    .sidebar-filter::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .sidebar-filter p {
        margin-bottom: 0;
        margin-top: 10px;
    }


#filter-announcement {
    font-size: 30px;
    color: white;
}

.filter-option {
    font-size: 25px;
    color: rgb(0,191,255);
}

.option-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

    .option-container p,
    .option {
        margin: 0;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }


        .option:hover {
            cursor: pointer;
            color: rgb(0,191,255);
        }

.filter-icon {
    width: 30px;
    height: 30px;
}

.product-buttons-column-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.add-product-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination-container{
    display: flex;
    justify-content: center;
}
